/*  =============== START: GLOBAL CSS  =============== */

body {
    max-width: 1680px;
    margin: 0 auto;
    font-family: 'abel', sans-serif;
}

/*  =============== END: GLOBAL CSS =============== */

/*  =============== START: CSS Regarding the Header area =============== */

.collapse.navbar-collapse {
    background: white;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
}

.container-fluid.navb {
    padding: 0;
}

.nav li > a {
    font-size: 15px;
}

@media (min-width: 320px) {
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}

.profPic {
    width:40px;
    height:40px;
    margin: auto;
    border-radius: 50%;
    position: static;
    top:-5px;
}

/*  =============== END: CSS Regarding the Header area =============== */

/*  =============== START: CSS Regarding the Footer area =============== */

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 50px;
    margin-top: 150px;
}

.footer-distributed h3 { /* The company logo */
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed .footer-links {
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name {
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a {
    color:  #5383d3;
    text-decoration: none;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 40px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    padding: 13px;
    height: 44px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
        padding-top: 108px;
        /*margin-top: 0;*/
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

/*  =============== END: CSS Regarding the Footer area =============== */

/*  =============== START: CSS Regarding the Search area =============== */

.thumbnail {
    min-height: 450px;
    height: auto;
}

.thumbnail img {
    max-height: 200px;
}

.thumbnail .caption h3 {
    height: 50px;
    text-align: left;
    font-size: 20px;
}

.thumbnail .description {
    color: #a8a3a6;
    overflow: hidden;
    white-space: normal;
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

/*  =============== END: CSS Regarding the Search area =============== */

/*  =============== START: CSS Regarding the Search button =============== */

.search_area {
    height:500px;
    width:auto;
    background:url('../../pictures/header.jpg') no-repeat;
}

.align-center {
    width: 31%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10%;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/*  =============== END: CSS Regarding the Search button =============== */

/*  =============== START: CSS Regarding the Index area =============== */

.container-fluid.categories {
    padding-top: 50px;
    padding-bottom: 209px;
    background: #eaeaea;
    height: auto;
}

.divSocial img {
    position: relative;
    border: none;
}
.cs-style-4 figcaption {
    width: 54%;
}
/* top vendors start */
.container-fluid.vendors {
    padding-top: 373px;
    padding-bottom: 311px;
    height: auto;
    background: #eaeaea;
}

.container-fluid.vendors h1 {
    text-align: center;
}

.popular_vendors {
    padding-top: 50px;
}

.popular_vendors .col-md-4 {
    padding-bottom: 50px;
}

.popular_vendors .col-md-4 li {
    list-style:none;
}

.shape {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 300px;
    position: relative;
}

.shape .overlay {
    display:block;
    width: 310px;
    height: 310px;
    position: absolute;
    top:-5px;
    left:-5px;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.6s;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.6s;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 0.6s;
    z-index:500;
    /* allow user to actually perform actions underneath this layer */
    pointer-events:none;
    background-repeat: no-repeat;
    outline:0;
}
/* different shapes */

.shape .overlay.round {
    background: url('../../pictures/round.png');
}

.shape:hover .overlay { /* hover effect */
    -webkit-transform: scale(1.07,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    -moz-transform: scale(1.07,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 0.3s;
}

.shape:hover .bg {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    display:block;
}

.shape:hover .details {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index:450;
    display:block;
}

/* content styles */
.shape .bg,
.shape .details {
    position: absolute;
    width: 300px;
    height:300px;
    vertical-align:middle;
    text-align:center;
    top:0;
    left:0;
    opacity:0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display:block;
}

.shape .bg {
    background: #4b5a78;
}

.shape .details span.heading {
    font-family: 'Roboto Condensed', serif;
    font-size:30px;
    display:block;
    margin-top:70px;
    color:#fff;
    text-decoration:none;
}

.shape .details p {
    font-family: 'Abel', sans-serif;
    color:#fff;
    width: 70%;
    font-size:14px;
    margin:0 auto;
}

.shape a.button {
    padding:5px 11px;
    font-family: 'Abel', sans-serif;
    font-size:12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    background: #2f3644;
    text-decoration:none;
    color:#fff;
    display: block;
    width: 50px;
    margin: 15px auto 0;
    text-align:center;
}

.shape a.button:hover {
    background: #fff;
    color: #2f3644;
}
/* top vendors end */

/* what we offer/popular products start */

.section_offers .circle .Offer {
    text-align: left;
}

.section_offers, .section_popular {
    z-index: 1;
    position: relative;
}

.section_offers .offer_title:after, .section_popular .pop_products:after {
    content: '';
    position: absolute;
    left: 0;
    overflow: visible;
    width: 100%;
    background: #00bcd4;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    backface-visibility: initial;
    margin-top: 50px;
}

.section_offers .offer_title, .section_popular .pop_products {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.section_popular .pop_products .slide_container {
    margin-top: 57px;
}

.section_offers .offer_title:after {
    bottom: -655px;
    height: 714px;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);
    margin-bottom: 100px;
}

.section_popular .pop_products:after {
    bottom: -473px;
    height: 1101px;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
    margin-bottom: 200px;
}

.black { /* extra div block for index footer! */
    background-color: #292c2f;
    width: 100%;
    height: 367px;
    margin-bottom: -150px;
}

@media  (max-width:768px) {
    .align-center {
        width: 73%;
    }
    .black {
        /* extra div block for index footer! */
        width: 0;
        height: 0;
    }
    .container.demo-3 .grid li {
        width: 338px;
    }
    .mi-slider nav {
        top: 300px;
    }
    .section_popular .pop_products h1 {
        font-size: 26px;
    }
    .section_offers .offer_title:after {
        left: 0;
        bottom: 0;
    }
    .section_popular .pop_products:after {
        left: 0;
        bottom: 0;
        height: 0;
    }
    .what_we_offer, .popular_products {
        background: #00bcd4;
        padding-top: 108px;
        padding-bottom: 100px;
    }
    .container-fluid.vendors {
        padding-top: 108px;
        padding-bottom: 100px;
    }
    .container-fluid.categories {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (width: 320px) {
    .container.demo-3 .grid li {
        width: 300px;
    }
    .popular_vendors {
        padding-left: 0;
        padding-right: 0;
    }

    .popular_vendors .col-md-4 {
        padding-left: 0;
        padding-right: 0;
    }
    .shape {
        width: auto;
    }
    .shape .overlay.round {
        left: 0;
        width: 308px;
    }
    .base {
        width: 320px;
        height: 320px;
    }
    .shape .bg, .shape .details {
        width: auto;
    }
    .shape .base img {
        height: 300px;
        width: 292px;
    }
}
@media (width:768px) {
    .align-center {
        width: 65%;
        padding-top: 11%;
    }
    .mi-slider {
        height: 385px;
    }
    .section_offers .circle .Offer {
        text-align: center;
    }
    .section_popular .pop_products h1 {
        font-size: 36px;
    }
}
@media (width:1024px) {
    .container.demo-3 .grid li {
        width: 463px;
    }
    .align-center {
        width: 49%;
        padding-top: 15%;
    }
}
/* what we offer/popular products end */

/*  =============== END: CSS Regarding the Index area =============== */

/*  =============== START: CSS Regarding the Shopping Cart area =============== */

.input-sm {
    width: 140px;
    text-align: center;
    font-size: 10pt;
}

.delete-item {
    font-size: 17px;
}
.container-fluid.emptyCart {
    height: auto;
}

.container-fluid.emptyCart h2 {
    text-align:center;
    padding-top: 50px;
    text-decoration:underline;
}

.emptyCart {
    display:block;
    text-align:center;
    margin: 0 auto;
}

/*  =============== END: CSS Regarding the Shopping Cart area =============== */

/*  =============== START: CSS Regarding the User Profile area =============== */

.username, .bg-info .center {
    text-align:center;
}

.userPic {
    text-align: center;
    margin: auto;
    display: block;
    width:175px;
    height:175px;
    border-radius: 50%;
}

ul.profile li {
    list-style-type: none;
    font-size: 16px;
    padding-left: 8px;
    height: 28px;
    padding-top: 10px;
    padding-bottom: 33px;
}

ul.profile a:hover {
    color:white;
    text-decoration: none;
}
.col-lg-2.left_menu_pos {
    margin-top: 50px;
    padding-top: 30px;
    border: 1px solid rgba(0,0,0,0.08);
}
ul.profile li:hover {
    background-color: rgba(38, 84, 189, 0.9);
    -moz-transition: .4s ease;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
}

ul.profile {
    padding-left: 0;
}

ul.profile li:hover a {
    color: white;
}

.user.section {
    text-align: center;
}

.container.login { /* Login / Sign up*/
    height: 381px;
    padding-top: 80px;
}

.container-fluid.user {
    height: auto;
}

.form_center {
    width: 50%;
    margin-left: 25%;
}

/*  =============== END: CSS Regarding the User Profile area =============== */

/*  =============== START: CSS Regarding Categories area =============== */

.category_name {
    text-align:center;
    margin-bottom:20px;
}

.category {
    border-radius: 13px;
    -webkit-box-shadow: 0 0 7px 0 rgba(153,153,153,0.4);
    -moz-box-shadow: 0 0 7px 0 rgba(153,153,153,0.4);
    box-shadow: 0 0 7px 0 rgba(153,153,153,0.4);
    padding: 10px 4px 2px 4px;
}

.category:hover {
    -webkit-box-shadow: 0 0 17px 0 rgba(223,194,153,1.4);
    -moz-box-shadow:0 0 17px 0 rgba(223,194,153,1.4);
    box-shadow:0 0 17px 0 rgba(223,194,153,1.4);
}

.category a img {
    max-width: 100%;
    display: block;
    position: relative;
    border-radius: 5px;
}

.cat_Descr {
    text-align: center;
    font-size: 20px;
    padding: 6px 0 5px 0;
}

/*  =============== END: CSS Regarding Categories area =============== */

/*  =============== START: CSS Regarding the Products/results area =============== */
.noProducts {
    text-align: center;
    padding: 38px 0 38px 0;
    color: red;
    font-size: 25px;
}

.show-read-more .more-text {
    display: none;
}

.Frog {
    display: block;
    margin: 0 auto;
    text-align: center;
}
/*  =============== END: CSS Regarding the Products/results area =============== */

/*  =============== START: CSS Regarding the Preview Products area =============== */
.gold {
    color: #FFBF00;
}

/*************	PRODUCTS  *************/

.product {
    border: 1px solid #dddddd;
    height: auto;
    width: 300px;
    padding: 20px;
}

.product > img {
    max-width: 230px;
}

.product-rating {
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title {
    font-size: 20px;
}

.product-desc {
    font-size: 14px;
    text-align: justify;
}

.product-price {
    font-size: 22px;
}

.product-stock {
    margin-top: 10px;
}

.badge-danger {
    background-color: #ff1a00;
}

.badge-warning {
    background-color: #F2E94E;
}

.badge-success {
    background-color: #449D44;
}

.product-info {
    margin-top: 50px;
    text-align: justify;
}

/*************	VIEW  *************/

.content-wrapper {
    max-width: 1140px;
    margin: 25px auto 10px;
}

.container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
}

/*************	ITEM  *************/

.service1-items {
    padding: 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 321px;
    width: 130px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-right {
    padding-left: 50px;
}

.service-image-left {
    text-align: center;
}

.service-image-left > center > img,.service-image-right > center > img {
    max-height: 155px;
}
/*  =============== END: CSS Regarding the Preview Products area =============== */