.collapse.navbar-collapse{
    background: white;

}
nav.navbar.navbar-default {
    margin-bottom: 0px !important;
}
.container-fluid.navb{
    padding: 0px !important;
}

.nav li>a {
    font-size: 15px;
}
