.footer-distributed {
  padding-top: 323px !important;
  padding: 55px 50px;
}

/* popular products/what we offer start */
.section_d {
  z-index: 1;
  position: relative;
}

.section_d .skew:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -655px;
  overflow: visible;
  width: 100%;
  height: 714px;
  background: #00bcd4;
  z-index: -1;
  -webkit-transform: skewY(5deg);
  -moz-transform: skewY(5deg);
  -ms-transform: skewY(5deg);
  -o-transform: skewY(5deg);
  transform: skewY(5deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  margin-top: 50px;
  margin-bottom: 100px;
}

.section_d .skew .sec_inner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
.section_d1 {
  z-index: 1;
  position: relative;
}

.section_d1 .skew1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -473px;
  overflow: visible;
  width: 100%;
  height: 1101px;
  background: #00bcd4;
  z-index: -1;
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  margin-top: 50px;
  margin-bottom: 200px;
}
.section_d1 .skew1 .slide_container {
    margin-top: 57px;
}
.section_d1 .skew1 .sec_inner1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}
/* popular products/what we offer end */

@media (max-width:768px) {
    .grid li {
        width: 338px;
    }

    .mi-slider {
        height: 385px !important;
    }
    .mi-slider nav {
        top: 300px !important;
    }
    .section_d .skew:after {
        left: 0;
        bottom: 0;
    }
    .section_d1 .skew1:after {
        left: 0;
        bottom: 0;
        height: 0;
    }
    .what_we {
        background: #00bcd4;
        padding-top: 108px;
        height: auto;
        padding-bottom: 100px;
    }
    .popular_pr {
        background: #00bcd4;
        padding-top: 108px !important;
        height: auto !important;
        padding-bottom: 100px !important;
    }

    .footer-distributed {
        padding-top: 108px !important;
        margin-top: 0 !important;
    }
    .container-fluid.vendors {
        padding-top: 108px;
        height: auto;
        padding-bottom: 100px;
    }
    .container-fluid.categories {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}