.userPic{
    text-align: center;
    margin: auto;
    display: block;
    width:175px;
    height:175px;
    border-radius: 50%;
}

ul.profile li{
    list-style-type: none;
    font-size: 16px;
    padding-left: 8px;
    height: 28px;
    padding-top: 10px;
    padding-bottom: 33px;
}


ul.profile a:hover{
    color:white;
    text-decoration: none;
}
.col-lg-2.left_menu_pos{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.08);
    border-width: 1px;
    margin-top: 50px;
    padding-top: 30px;
    
}
ul.profile li:hover{
background-color: rgba(38, 84, 189, 0.9) !important;
-moz-transition: .4s ease;
-webkit-transition: .4s ease;
-o-transition: .4s ease;
}

ul.profile {
    padding-left: 0px;
}
ul.profile li:hover a{
    color: white;
    }